@import url(./iconfont.css);
/* 通用样式 */

html {
    font-size: 20px;
    overflow: hidden;
}

[v-cloak] {
    display: none;
}

body {
    background-color: #ffffff;
    font-size: .6rem;
    font-family: "Microsoft YaHei";
}

html, body, .mPrint {
    width: 100%;
    height: 100%;
}

html, body, div, table, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    display: block;
    width: 100%;
}

/* 整体布局 */

.mPrint {
    display: flex;
}

.mPrint-left {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.mPrint-left-top {
    background: #aaaaaa;
    box-shadow: 0 .05rem 0.2rem 0 #868686;
    border-bottom: .1rem solid #aaaaaa;
    height: 80px;
    width: 100%;
}

.mPrint-left-top-setting {
    height: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
}

.mPrint-left-top-setting-item {
    background: url(/assets/img/icons.png) no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
    box-shadow: 0 0 0;
    transition: all 1s;
}

.mPrint-left-top-setting-item:hover, .mPrint-left-top-setting-word:hover {
    box-shadow: inset 0 0.05rem 0.1rem #fff;
}

.mPrint-left-top-setting-word {
    font-weight: bold;
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mPrint-left-top-setting-split {
    height: 14px;
    width: 1px;
    background: #000000;
    margin: 0 5px;
}

.mPrint-icon-1 {
    background-position: -720px 0;
}

.mPrint-icon-2 {
    background-position: -741px 0;
    width: 9px;
}

.mPrint-icon-4 {
    background-position: -60px 0;
}

.mPrint-icon-5 {
    background-position: -140px 0;
}

.mPrint-icon-6 {
    background-position: -460px 0;
}

.mPrint-icon-7 {
    background-position: -420px 0;
}

.mPrint-icon-8 {
    background-position: -480px 0;
}

.mPrint-icon-9 {
    background-position: -440px 0;
}

.mPrint-left-bot {
    position: absolute;
    width: 100%;
    align-content: stretch;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
}

.mPrint-left-bot-layer {
    position: relative;
    background: #aaaaaa;
    box-shadow: 0 .05rem 0.2rem 0 #868686;
    width: 300px;
    height: 100%;
}

.mPrint-left-bot-ticket {
    box-shadow: 0 .05rem 0.2rem 0 #868686;
    position: absolute;
    left: 305px;
    top: 5px;
}

.mPrint-left-bot-ticket-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.mPrint-left-bot-ticket-drag {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: move;
}

.mPrint-left-bot-ticket-item {
    height: 40px;
    line-height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    border: .05rem solid #d8c7c7;
    justify-content: space-between;
    cursor: move;
}

.mPrint-left-bot-choice {
    width: 100%;
}

.mPrint-left-bot-choice-tit, .mPrint-left-bot-choice-item {
    padding-left: 40px;
}

.mPrint-left-bot-choice-cont {
    background: #dddddd;
    display: none;
    cursor: pointer;
}

.mPrint-left-bot-choice-cont.active {
    display: block;
}

.mPrint-left-bot-choice-tit {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #aaaaaa;
    border-bottom: .05rem solid #d8c7c7;
    padding-right: 10px;
}

.dropicon {
    color: white;
    cursor: pointer;
}

.mPrint-left-bot-choice-item {
    height: 40px;
    line-height: 40px;
}

.mPrint-left-bot-choice-item:hover {
    background: #ccc;
}

.ci_file {
    padding-left: 5px;
    font-size: .6rem;
}

.mPrint-right {
    flex: 1;
    background: #aaaaaa;
    box-shadow: 0 .05rem 0.2rem 0 #868686;
    border-left: .1rem solid #aaaaaa;
    min-width: 300px;
    padding-top: 20px;
    overflow-y: auto;
}

.mPrint-right-line {
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    display: flex;
    width: 300px;
    margin: 0 auto;
}

.mPrint-right-line-left {
    height: 40px;
    line-height: 40px;
    width: 120px;
    text-align: right;
}

.mPrint-right-line-right {
    height: 40px;
    line-height: 40px;
    width: 180px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mPrint-right-line-right input {
    width: 100%;
}