<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/mPrint.css">
</head>

<body>
    <!-- <div class="mPrint">
        <div class="mPrint-left">
            <div class="mPrint-left-top">
                <fieldset>
                    <legend>模版选项单个设置</legend>
                    <div class="mPrint-left-top-setting">
                        <div class="mPrint-left-top-setting-word">字体</div>
                        <div class="mPrint-left-top-setting-word">大小</div>
                        <div class="mPrint-left-top-setting-split"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-1"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-2"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-3"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-4"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-5"></div>
                        <div class="mPrint-left-top-setting-split"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-6"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-7"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-8"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-9"></div>
                    </div>
                </fieldset>
            </div>
            <div class="mPrint-left-bot">
                <div class="mPrint-left-bot-layer">
                    <div class="mPrint-left-bot-choice">
                        <div class="mPrint-left-bot-choice-tit">
                            <div>打印项目1</div>
                            <div class="dropicon iconfont icon-xiala"></div>
                        </div>
                        <div class="mPrint-left-bot-choice-cont active">
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                        </div>
                    </div>
                    <div class="mPrint-left-bot-choice">
                        <div class="mPrint-left-bot-choice-tit">
                            <div>打印项目1</div>
                            <div class="dropicon iconfont icon-xiala"></div>
                        </div>
                        <div class="mPrint-left-bot-choice-cont">
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                        </div>
                    </div>
                    <div class="mPrint-left-bot-choice">
                        <div class="mPrint-left-bot-choice-tit">
                            <div>打印项目1</div>
                            <div class="dropicon iconfont icon-xiala"></div>
                        </div>
                        <div class="mPrint-left-bot-choice-cont">
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mPrint-right">
            <fieldset>
                <legend>模版整体设置</legend>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">模版名称：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入模版名称" id=""></div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">模版大小：</div>
                    <div class="mPrint-right-line-right">
                        <input type="text" name="" placeholder="宽度" id="">
                        <input type="text" name="" placeholder="高度" id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">偏移调整：</div>
                    <div class="mPrint-right-line-right">
                        <input type="text" name="" placeholder="上下偏移" id="">
                        <input type="text" name="" placeholder="左右偏移" id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">字号：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="选择字号" readonly id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">字体：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="选择字体" readonly id="">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>模版选项整体设置</legend>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">横向间距：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入横向间距" id=""></div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">纵向间距：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入纵向间距" id=""></div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">第一项上边距：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入第一项上边距" id=""></div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">第一项左边距：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入第一项左边距" id=""></div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">选项最小宽度：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入纵向间距" id=""></div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">选项最大宽度：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入纵向间距" id=""></div>
                </div>
            </fieldset>
            <fieldset>
                <legend>模版背景图设置</legend>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">选择图片：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="选择图片" readonly id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">横行边距：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入横行边距" id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">纵向边距：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入纵向边距" id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">宽：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入宽" id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">高：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入高" id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">层级：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入层级" id="">
                    </div>
                </div>
            </fieldset>
        </div>
    </div> -->
    <div style="width:100px;height:50px;border:1px;" onclick="copy()">复制</div>
    <div id="p"></div>
    <div class="source" contenteditable="true">Try copying text from this box...</div>
    <div class="target" contenteditable="true">...and pasting it into this one</div>
</body>
<!-- <script src="/assets/js/init.js"></script> -->
<script>


    document.onkeyup = function (event) {
        // 复制
        if (event.ctrlKey == 1) {
            if (event.key === 'c') {
                console.log(arrDom);
                console.log('复制成功！');
            }
        }
        // 粘贴
        if (event.ctrlKey == 1) {
            if (event.key === 'v') {
                console.log('ctr+v');
                arrDom.forEach((item, index) => {
                    pasteBox.appendChild(item.cloneNode(true));
                });
            }
        }
    }

    const source = document.querySelector('div.source');
    function copy() {
        var myEvent = new Event('copy');
        document.body.dispatchEvent(myEvent);
    }

    document.body.addEventListener('copy', function (e) {
        var cpTxt = "复制的数据2222";
        console.log(e.clipboardData);
        e.clipboardData.setData('Text', cpTxt);
        e.preventDefault();
    })



    // source.addEventListener('copy', (event) => {
    //     const selection = document.getSelection();
    //     event.clipboardData.setData('text/plain', selection.toString().toUpperCase());
    //     event.preventDefault();
    // });

    document.body.addEventListener('paste', function (event) {//paste事件   
        let paste = (event.clipboardData || window.clipboardData).getData('text');
        paste = paste.toUpperCase();
        document.getElementById('p').innerText = paste;
        event.preventDefault();
    });
</script>

</html>