<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/mPrint.css">
</head>

<body>
    <!-- <div class="mPrint">
        <div class="mPrint-left">
            <div class="mPrint-left-top">
                <fieldset>
                    <legend>模版选项单个设置</legend>
                    <div class="mPrint-left-top-setting">
                        <div class="mPrint-left-top-setting-word">字体</div>
                        <div class="mPrint-left-top-setting-word">大小</div>
                        <div class="mPrint-left-top-setting-split"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-1"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-2"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-3"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-4"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-5"></div>
                        <div class="mPrint-left-top-setting-split"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-6"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-7"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-8"></div>
                        <div class="mPrint-left-top-setting-item mPrint-icon-9"></div>
                    </div>
                </fieldset>
            </div>
            <div class="mPrint-left-bot">
                <div class="mPrint-left-bot-layer">
                    <div class="mPrint-left-bot-choice">
                        <div class="mPrint-left-bot-choice-tit">
                            <div>打印项目1</div>
                            <div class="dropicon iconfont icon-xiala"></div>
                        </div>
                        <div class="mPrint-left-bot-choice-cont active">
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                        </div>
                    </div>
                    <div class="mPrint-left-bot-choice">
                        <div class="mPrint-left-bot-choice-tit">
                            <div>打印项目1</div>
                            <div class="dropicon iconfont icon-xiala"></div>
                        </div>
                        <div class="mPrint-left-bot-choice-cont">
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                        </div>
                    </div>
                    <div class="mPrint-left-bot-choice">
                        <div class="mPrint-left-bot-choice-tit">
                            <div>打印项目1</div>
                            <div class="dropicon iconfont icon-xiala"></div>
                        </div>
                        <div class="mPrint-left-bot-choice-cont">
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                            <div class="mPrint-left-bot-choice-item iconfont icon-fuxuankuang"><span
                                    class="ci_file">项目1</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mPrint-right">
            <fieldset>
                <legend>模版整体设置</legend>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">模版名称：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入模版名称" id=""></div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">模版大小：</div>
                    <div class="mPrint-right-line-right">
                        <input type="text" name="" placeholder="宽度" id="">
                        <input type="text" name="" placeholder="高度" id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">偏移调整：</div>
                    <div class="mPrint-right-line-right">
                        <input type="text" name="" placeholder="上下偏移" id="">
                        <input type="text" name="" placeholder="左右偏移" id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">字号：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="选择字号" readonly id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">字体：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="选择字体" readonly id="">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>模版选项整体设置</legend>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">横向间距：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入横向间距" id=""></div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">纵向间距：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入纵向间距" id=""></div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">第一项上边距：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入第一项上边距" id=""></div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">第一项左边距：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入第一项左边距" id=""></div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">选项最小宽度：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入纵向间距" id=""></div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">选项最大宽度：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入纵向间距" id=""></div>
                </div>
            </fieldset>
            <fieldset>
                <legend>模版背景图设置</legend>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">选择图片：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="选择图片" readonly id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">横行边距：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入横行边距" id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">纵向边距：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入纵向边距" id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">宽：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入宽" id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">高：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入高" id="">
                    </div>
                </div>
                <div class="mPrint-right-line">
                    <div class="mPrint-right-line-left">层级：</div>
                    <div class="mPrint-right-line-right"><input type="text" name="" placeholder="请输入层级" id="">
                    </div>
                </div>
            </fieldset>
        </div>
    </div> -->
</body>
<script src="/assets/js/init.js"></script>

</html>